<h1>Users List</h1>
<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">DOB</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th>{{ user.id }}</th>
        <th>{{ user.fname }}</th>
        <th>{{ user.lname }}</th>
        <th>{{ user.email }}</th>
        <th>{{ user.gender }}</th>
        <th>{{ user.dob | date: "dd-MM-yyyy" }}</th>
        <th>
          <i
            (click)="deleteUsers(user.id)"
            class="fa fa-trash"
            style="font-size: 25px; color: red"
          ></i>
        </th>
      </tr>
    </tbody>
  </table>
</div>
