<mat-toolbar color="accent" class="mat-elevation-z8">
  <span><mat-icon>eco</mat-icon> Vox</span>
  <div class="spacer"></div>
  <a mat-button routerLink="register"> Register</a>
  <a mat-button routerLink="usersList"> Users List</a>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
<mat-toolbar color="accent" class="mat-elevation-z8">
  <p>© 2020 Copyright: vox.com</p>
  <div class="spacer"></div>
  <a mat-button> <mat-icon>facebook</mat-icon></a>
  <a mat-button> <mat-icon>share</mat-icon></a>
  <a mat-button> <mat-icon>coronavirus</mat-icon></a>
</mat-toolbar>
